<!DOCTYPE html>
<!--引入shiro的标签库-->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
	<!-- 引入easyui的css样式 -->
	<link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
	<!-- 引入easyui的图标css样式 -->
	<link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">
	<!-- 引入jqury的js文件 -->
	<script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.min.js"></script>
	<!-- 引入easyui的js文件 -->
	<script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
	<!-- 引入easyui的中文js文件 -->
	<script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'north',height:100">

			<span id="weather"></span>
		</div>
		<div data-options="region:'west',width:200,title:'导航菜单'">
			<!-- 定义树 -->
			<ul id="mytree"></ul>
		</div>
		<div data-options="region:'center'">
			<!-- 定义选项卡 -->
			<div class="easyui-tabs" id="mytabs" data-options="fit:true">
				<div data-options="title:'首页'">
					欢迎登陆!
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
$(function(){
	initTree();//初始化同步树
})

//初始化同步
function initTree(){
	$("#mytree").tree({
		url:"../User/queryTree",
		onClick:function(node){
			if(node.url!=null && node.url!=""){
				//判断选项卡是否存在
				var flag = $("#mytabs").tabs("exists",node.text);
				if(flag){//存在：选中
					$("#mytabs").tabs("select",node.text);
				}else{//不存在：新增
					$("#mytabs").tabs("add",{
						title:node.text,
						closable:true,
						content:createPage(node.url),
						tools:[{    
					        iconCls:'icon-mini-refresh',    
					        handler:function(){    
					           //更新选项卡
					        	$('#mytabs').tabs('update', {
					        		tab: $('#mytabs').tabs('getSelected'),  // 获取选择的面板
					        		options: {
					        			content:createPage(node.url)
					        		}
					        	});
					           
					        }    
					    }]
					});
				}
			}
		}
	})
}

//引入页面
function createPage(url){
	return "<iframe style='width:100%;height:100%' frameborder='0' scrolling='auto' src='"+url+"'></iframe>";
}
</script>
</html>